:root {
    --body-color-f:hsl(0,1%,90%);
    --primer-color: hsl(354, 78%, 60%);
    --container-color: hsl(0, 0%, 100%);
    --texto-color-light: hsl(0, 0%, 55%);
    --color-boton: hsl(0, 0%, 17%);
    --card-color: hsl(0, 0%, 90%);
    --card-color-footer:hsl(0,1%,90%);
    --body-color: hsl(206, 4%, 97%);
    --z-index-header: 1000;
    --text-color-footer:hsl(0, 0%, 35%);
    --color-p-footer:#fff;
    --color-header-text: #000;
    --p-heade-nav: #000;
    --fondo-navegacion:#fff;
    --fondo-navegacion-heade:transparent;
    --ruta-img: url(./img/bx-moon.svg);
    --color-icons: transparent;
    --color-icons-restos: #000;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--body-color);
    transition: background-color 1s;
}
.application {
    background-color: var(--body-color);
}

.logo {
    display: flex;
    align-items: center;
}

.logo>p {
    color: #262626;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}



.nav_logo-icon {
    width: 40px;
    fill: var(--primer-color)
}

ul {
    list-style: none;
    display: flex;
    gap: 0.7rem;
}

.principal{
    color: var(--primer-color);
}


header {
    transition: padding 1s;
    background-color: var(--fondo-navegacion-header);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 3rem;
    padding: 1rem 0;
    z-index: var(--z-index-header);
    color:var(--color-header-text);
}

.navbar-scroll{
    transition: background-color 1s;
}


.header--nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0 0.3rem;
    width: 73%;
}
.header--nav p{
    color: var(--p-heade-nav);
}

.navegacion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.icons svg:nth-child(1){
    cursor: pointer;
    fill: var(--primer-color);
}
.icons svg:nth-child(2){
    cursor: pointer;
    fill: var(--color-icons-restos)
}
.icons svg{
    width: 20px;
}
.luna{
    background-image: var(--ruta-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color:  var(--color-icons);
    height: 20px;
    border-radius: 50%;
    transition: background-image 1s;
}



.navbar-scroll {
    background-color:var(--fondo-navegacion);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
    padding: 2rem 0;
    transition: padding 1s;
}



/* Estilizando el scrollbar */

body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

body::-webkit-scrollbar-thumb {
    background: var(--primer-color);
    border-radius: 0.625rem;
}

body::-webkit-scrollbar-track {
    background: var(--container-color);
    border-radius: 0.625rem;
}

img {
    width: 100%;
    display: block;
}

.section1 {
    min-height: 100vh;
}

.info p:nth-child(2) {
    color: var(--texto-color-light);
}

.info p:nth-child(3) {
    color: var(--primer-color);
    font-size: 1.5rem;
    font-weight: 700;
}

.info button {
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 15px 30px;
    place-self: baseline;
    background-color: var(--color-boton);
}
 /******************************* THE HOME *****************************************  */
.home {
    display: flex;
    padding: 0 11.5rem
}

.home .info {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home h2 {
    font-size: 3rem;
}

.home--img {
    background-color: var(--primer-color);
    max-width: 40%;
    padding: 0 0.5rem;
}

.home--img img {
    height: 80vh;
    object-fit: contain;
}

.description-img {
    background-color: var(--card-color);
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

a {
    text-decoration: none;
    color: inherit
}

.section2 {
    margin: 0 11.5rem;
}
/* GRID */
.items {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.description-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--container-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 0.8rem;
}

.description .description-img:hover img {
    transform: translateY(-10px)
}

.description .description-img img {
    transition: transform 0.5s;

}

.precio {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.precio p {
    font-size: 0.8rem;
    color: var(--texto-color-light);
}
/* EL FOOTER */
footer{
    background-color:var(--body-color-f);
    max-width: 100%;
    width: 100%;
    min-height: 70vh;
    margin-top: 6rem;
    padding-top: 4rem;
}
footer .informacion{
    display: flex;
    flex-direction: column;
    gap:1rem
}
.acerca{
    display: flex;
    flex-direction: column;
}
.listas{
    margin-top: 1rem;
    line-height: 1.8rem;
}

.products{
    display: flex;
    flex-direction: column;
}

.icons svg:nth-child(3){
display: none;
}

.content-footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
#color-text-footer-p{
    color: var(--color-p-footer);
}
footer .social .imgs{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
    color: var(--text-color-footer);
}
footer .social .imgs svg{
    fill: var(--text-color-footer);
}
footer .social .imgs svg:hover{
    fill: #000;
}
footer .content-footer li{
    color: var(--text-color-footer)
}
footer .content-footer li:hover{
    color: #000;
}
li{
    list-style: none;
}

.inf-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}
.inf-footer__cont{
background-color: var(--primer-color);
padding: 1rem;
width: 95%;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
}

.inf-footer__cont a{
    list-style: none;
    color: #000;
}

/* MEDIA QUERIES */

@media (max-width: 700px){
    .section2{
        width:100%;
        margin:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 400px;
        max-width: 700px;
    }
    .items{
        display: flex;
        flex-direction: column;
        width: 400px;
        align-items: center;
        justify-content: center;
        max-width: 700px;
    }
    nav{
        display: none;
        max-width: 700px;
    }
    .header--nav{
        width: 100%;
    }
    .navegacion{
        justify-content: flex-end;
    }
    .icons svg:nth-child(3){
        display:block;
        fill:var(--color-icons-restos)
    }
    .icons{
        gap: 0.5rem;
    }
    .home{
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        max-width: 700px;
    }
    .home--img {
        background-color: var(--primer-color);
        padding: 0 0.5rem;
        height: 60vh;
        display: flex;
        max-width: 50vw;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 50vw;
    }
    .home--img img {
        height: 70vh;
        max-width: 700px;
    }
    .home .info {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        max-width: 700px;
        margin: 1rem;
        margin-bottom: 5rem;
    }
    .section1 {
        min-height: 100vh;
    }
    .home h2 {
        font-size: 2rem;
        max-width: 70vw;
    }
    .home .info p:nth-child(2){
        max-width: 90vw;
    }
    .content-footer{
        flex-direction: column;
        margin-left: 2rem;
        gap: 1rem;
        width: 90%;
    }
    .inf-footer__cont{
        width: 90%;
    }
}



@media (max-width:300px) {
    .items{
        width:250px;

    }
    .section2{
        min-width: 150px;
    }
}